<!DOCTYPE html>
<html>
<head>
<style>
.eg{
 background-color: aliceblue;
 padding-bottom: 80px;
 height: 100%;
}

h1,a:link, a:visited {
    //background-color: #f44336;
    color: cadetblue;
    //padding: 14px 250px;
    //text-align: center; 
	width: 100%;
    text-decoration: none;
    display: inline-block;
}

	

	#song_table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#song_table td, #song_table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#song_table tr:nth-child(even){background-color: #f2f2f2;}

#song_table tr:hover {background-color: #ddd;}

#song_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: darkcyan;
    color: white;
}

	h1{
	text-align: center;
    font-size: 18px;
    	}
	
	div.center{
	margin: auto;
    border: 3px solid green;
    padding: 10px;
	width: 50%;
	}
	
	td{
	//width: 50%;
	
	}
	
	div.player{
	width: 97%;
    margin: auto;
    border: 3px solid green;
    padding: 10px;
    position: absolute;
    bottom: 0;
	}
	
	audio{
	width : 100%;
	}
	
</style>

</head>
<body>

<div class="eg">
	<form>
		<h1>Songs</h1>
		
			<div class="center">
			<% if (data.length > 0) {%>
				<table id="song_table">
					<tr>
						<th>#</th>
						<th>Title</th>
					</tr>
					<% data.forEach((dataa, index) => { %>
					<tr>
						<td><%= index+1 %></td>
						<td><a href="" onclick="return playAudio2('mymusicapp/<%= dataa.src %>')"><%= dataa.src %></a></td>
						
					</tr>		
					 <% }) %>
					 <tr>
						<td><a href="/add">Add Songs</a></td>
						<td></td>
					 </tr>
				</table>
				 <% } %>
			</div>
	</form>
	
	<div class="player">
		<audio id="myAudio" controls>
			<source  type="audio/mpeg">
			Your browser does not support the audio tag.
		</audio>
	</div>

	<script>
var x = document.getElementById("myAudio"); 

	
function playAudio(src) { 
x.src = src;
    x.play();
} 

function playAudio2(src) { 
//src = src.substring(src.indexOf('1337'));
//alert(src);
x.src = src;
//alert(x.src);
    x.play();
	return false;
} 

function pauseAudio() { 
    x.pause(); 
} 
</script>

</div>
</body>
</html>