<html>
<head>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">

<style>

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}
li {
  float: left;
}
li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: #ddd;
}
li a.active {
  color: white;
  background-color: darkcyan;
}
#song_table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
#song_table td, #song_table th {
    border: 1px solid #ddd;
    padding: 8px;
    overflow: hidden;
}
.eg{
 background-color: aliceblue;
 padding-bottom: 80px;
 height: 100%;
}
h1,a:link, a:visited {
    //background-color: #f44336;
    color: cadetblue;
    //padding: 14px 250px;
    //text-align: center; 
	width: 100%;
    text-decoration: none;
    display: inline-block;
}

#song_table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#song_table td, #song_table th {
    border: 1px solid #ddd;
    padding: 8px;
	overflow: hidden;
}

#song_table tr:nth-child(even){background-color: #f2f2f2;}

#song_table tr:hover {background-color: #ddd;}

#song_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: darkcyan;
    color: white;
}
div.center{
	margin: auto;
    border: 3px solid green;
    padding: 10px;
	width: 50%;
	}

</style>
</head>
<body>
<ul class="sidenav">
  <li><a class="active" href="/">Home</a></li>
  <li><a href="/add">Add</a></li>
  <li><a href="#contact">Contact</a></li>
</ul>
<div class="center">
  <form action="/add" method="post" name="form1" enctype="multipart/form-data" onsubmit="return validateForm()">
    <table id="song_table" width="25%" border="0" >
        <tr>
			<th colspan="2">Add Song</th>
		</tr>
		<tr> 
            <td>Name</td>
            <td><input type="text" name="title" id="title" value="<%= title %>" /></td>
        </tr>
        <tr> 
            <td>Author</td>
            <td><input type="text" name="author" value="<%= author %>" /></td>
        </tr>
        <tr> 
            <td>SRC</td>
            <td><input type="text" name="src" value="<%= src %>" /></td>
        </tr>
        <tr> 
            <td>Please upload: </td>
            <td><input type="file" name="filetoupload"/></td>
        </tr>
		<tr> 
            <td></td>
            <td><input type="submit" name="Submit" value="Add" /></td>
        </tr>
    </table>
</form>
</div>

<script>
function validateForm() {
    var x = document.forms["form1"]["filetoupload"].value;
	var y = x.split(".");
    if (y[y.length-1] != "mp3") {
        alert("Please upload an .mp3 file only");
        return false;
    }
}
</script>
</body>
</html>
